<!DOCTYPE html>
<html lang="zh-cn">
<%- include("comments/header",{title:"文章详情"}) %>


    <body>
        <!--背景-->
        <%- include("comments/bg") %>

            <!-- 内容 -->
            <h2>
                <%=data.title%>
            </h2>
            <p>
                <%=data.date%>
            </p>
            <p>
                <%=data.author.name%>
            </p>
            <div>
                <%-data.content%>
            </div>
            <!--尾部-->
            <%- include("comments/footer") %>

    </body>


</html>