<!DOCTYPE html>
<html lang="zh-cn">
<%- include("comments/header",{title:"个人中心"}) %>


    <body>
        <!--背景-->
        <%- include("comments/bg") %>

            <!-- 内容 -->
            <div id="usercontent">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="/">返回首页</a></li>
                    <li class="layui-nav-item layui-this"><a href="javascript:;">个人中心</a></li>
                    <li class="right">
                        <i style="background-image: url(/images/avatar/<%=data.photo%>);"></i>
                        <a href="/loginout">退出登陆</a>
                    </li>

                </ul>
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">个人信息</li>
                        <li>修改密码</li>
                        <li>上传头像</li>
                        <%if(data.name === "admin"){%>
                            <li>发表文章</li>
                            <li>管理文章</li>
                            <%}%>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show content1">
                            <form class="layui-form">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="50%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>栏目</th>
                                            <th>值</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>用户名</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.name%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="name" lay-verify="name" placeholder="请输入新用户名" class="layui-input" value="<%=data.name%>">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="layui-btn">修改</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>性别</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.sex%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <div class="layui-input-inline">
                                                        <input type="radio" name="sex" value="男" title="男">
                                                        <input type="radio" name="sex" value="女" title="女">
                                                    </div>
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>邮箱</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.email%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="email" lay-verify="email" placeholder="请输入新的邮箱" autocomplete="off " class="layui-input" value="<%=data.email%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>手机号</td>
                                            <td>
                                                <div class="first ">
                                                    <%=data.tel%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="tel" lay-verify="tel" placeholder="请输入新的手机号" autocomplete="off " class="layui-input " value="<%=data.tel%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>个性签名</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.status%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="status" lay-verify="status" placeholder="请输入新的个性签名" autocomplete="off" class="layui-input" value="<%=data.status%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="resetInfo">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item content2">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">旧密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="pwd" name="password" required lay-verify="pwd" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请输入旧密码</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">输入新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="newPwd" name="newPwd" required lay-verify="newPwd1" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">6-18位</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">再次输入新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="newPwd1" required lay-verify="newPwd2" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请再次输入新密码</div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="resetPwd">确认修改</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item content3">
                            <button type="button" class="layui-btn" id="avatar">
                                <i class="layui-icon">&#xe67c;</i>上传头像
                            </button>
                            <span class="avatarInfo">大小不超过500k</span>
                        </div>
                        <%if(data.name === "admin"){%>
                            <div class="layui-tab-item content4">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">文章标题</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="title" lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">内容</label>
                                        <style>
                                            .editlabel {
                                                float: left;
                                                background-color: #fff;
                                                width: 760px;
                                            }
                                        </style>
                                        <div class="editlabel">

                                            <textarea id="edit" style="display: none;"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="article">发表</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="layui-tab-item content5">
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" name="srh" required placeholder="请输入文章关键词" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <button class="layui-btn" lay-submit lay-filter="search">查询</button>
                                        </div>
                                    </div>
                                    <table class="layui-table">
                                        <colgroup>
                                            <col width="150">
                                            <col width="200">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>文章名</th>
                                                <th>删除</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <%}%>
                    </div>

                </div>
            </div>

            <!--尾部-->
            <%- include("comments/footer") %>

    </body>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element', 'form', 'upload', 'layedit'], function() {
            var gf = gf || {}
            var element = layui.element;
            var form = layui.form;
            var upload = layui.upload;
            form.verify({
                "tel": function(value) {
                    //有内容且不通过验证警告，所以允许了设空值
                    if (value && !/^1[3-9]\d{9}$/.test(value)) {
                        return "号码格式不正确!";
                    }
                },

                "email": function(value) {
                    if (value && !/^\w{2,}@[\da-z]{2,}(\.[a-z]{2,6}){1,2}$/i.test(value)) {
                        return "邮箱格式不正确!";
                    }
                },

                "pwd": function(value) {
                    if (!/^[\da-z,!@#\$%\^&*()+\[\]{}\-=\.<>?]{6,18}$/i.test(value)) {
                        return "密码格式不正确";
                    }
                },

                "newPwd1": function(value) {
                    if (!/^[\da-z,!@#\$%\^&*()+\[\]{}\-=\.<>?]{6,18}$/i.test(value)) {
                        return "新密码格式不正确";
                    }
                },

                "newPwd2": function(value) {
                    var pwdvalue = $("#newPwd").val();
                    if (value !== pwdvalue) {
                        return "两次输入密码不一致"
                    }
                }

            });
            //监听信息修改提交
            form.on('submit(resetInfo)', function(data) {
                $.ajax({
                    method: "post",
                    url: "/update",
                    data: data.field,
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    window.location.reload()
                                })
                        }
                    }
                });
                return false;
            });

            //监听修改密码提交
            form.on('submit(resetPwd)', function(data) {
                $.ajax({
                    method: "post",
                    url: "/resetPwd/reset",
                    data: data.field,
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        }
                    }
                });
                return false;
            });

            //上传头像
            var uploadInst = upload.render({
                elem: '#avatar' //绑定元素
                    ,
                url: '/upload/photo' //上传接口
                    ,
                done: function(data) {
                    //上传完毕回调
                    if (data.code == 4) {
                        layer.msg(
                            data.msg, {
                                icon: 5,
                                time: 1500
                            },
                            function() {
                                window.location.href = "/#reload"
                            }
                        )
                    } else if (data.code) {
                        layer.msg(
                            data.msg, {
                                icon: 5,
                                time: 1500
                            },
                            function() {}
                        )
                    } else {
                        layer.msg(
                            data.msg, {
                                icon: 1,
                                time: 1500
                            },
                            function() {
                                window.location.reload()
                            }
                        )
                    }
                },
                error: function() {
                    //请求异常回调
                }
            });

            //富文本编辑器
            layui.use('layedit', function() {
                gf.layedit = layui.layedit;
                //图片上传接口
                gf.layedit.set({
                    uploadImage: {
                        url: '/upload/img',
                        type: 'POST'
                    }
                })
                gf.editIndex = gf.layedit.build('edit'); //建立编辑器
            });

            //上传文章
            form.on('submit(article)', function(data) {
                $.ajax({
                    method: "POST",
                    url: "/upload/article",
                    data: {
                        title: data.field.title,
                        content: gf.layedit.getContent(gf.editIndex)
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {})
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = "/article/" + data.id
                                })
                        }
                    }
                });
                return false;
            });

            //监听查询
            form.on('submit(search)', function(data) {
                $.ajax({
                    method: "POST",
                    url: "/search",
                    data: data.field,
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {})
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            searchTable(data)
                        }
                    }
                });
                return false;
            });
            var $tbody = $(".content5 tbody")
            $tbody.on("click", ".del-btn", function() {
                var _id = $(this).attr("data-id")
                var _this = $(this)
                $.ajax({
                    method: "Post",
                    url: "/delete",
                    data: {
                        _id
                    },
                    success: function(data) {
                        if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {}
                            )
                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    _this.parent().parent().remove()
                                }
                            )
                        }
                    }
                })
            })

            function searchTable(data) {
                var html = ""
                data.forEach((item, index) => {
                    html += `<tr><td>${item.title}</td><td><button type="button" class="layui-btn del-btn" data-id="${item._id}">删除</button></td></tr>`
                })
                $tbody.html(html)
            }

        });



        //忘记密码回到登陆
        ! function f() {
            var $content1Btn = $("#usercontent .content1 tr td .layui-btn");
            $content1Btn.click(function() {
                var $ele = $(this).parent().prev().children();
                $ele.toggle();
            });
        }();

        //防止文章编辑中session过期
        (function() {
            setInterval(function() {
                $.ajax({
                    url: '/'
                })
            }, 10 * 60 * 1000 - 24)
        })()
    </script>

</html>