<!DOCTYPE html>
<html lang="zh-cn">
<%- include("comments/header",{title:"个人中心"}) %>


    <body>
        <!--背景-->
        <%- include("comments/bg") %>

            <!-- 内容 -->
            <div id="usercontent">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="/">返回首页</a></li>
                    <li class="layui-nav-item layui-this"><a href="javascript:;">个人中心</a></li>
                    <li class="right">
                        <i></i>
                        <a href="/loginout">退出登陆</a>
                    </li>

                </ul>
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">个人信息</li>
                        <li>修改密码</li>
                        <li>上传头像</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show content1">
                            <form class="layui-form">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="50%">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>栏目</th>
                                            <th>值</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>用户名</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.name%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="name" lay-verify="name" placeholder="请输入新用户名" class="layui-input" value="<%=data.name%>">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="layui-btn">修改</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>性别</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.sex%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <div class="layui-input-inline">
                                                        <input type="radio" name="sex" value="男" title="男">
                                                        <input type="radio" name="sex" value="女" title="女" checked>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>邮箱</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.email%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="email" lay-verify="email" placeholder="请输入新的邮箱" autocomplete="off " class="layui-input" value="<%=data.email%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>手机号</td>
                                            <td>
                                                <div class="first ">
                                                    <%=data.tel%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="tel" lay-verify="tel" placeholder="请输入新的手机号" autocomplete="off " class="layui-input " value="<%=data.tel%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                        <tr>
                                            <td>个性签名</td>
                                            <td>
                                                <div class="first">
                                                    <%=data.status%>
                                                </div>
                                                <div class="second" style="display:none">
                                                    <input type="text" name="status" lay-verify="status" placeholder="请输入新的个性签名" autocomplete="off" class="layui-input" value="<%=data.status%>">
                                                </div>
                                            </td>
                                            <td><button type="button" class="layui-btn">修改</button></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="resetInfo">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">旧密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" id="pwd" name="password" required lay-verify="pwd" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请输入旧密码</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">输入新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="newPwd" required lay-verify="newPwd1" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">6-18位</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">再次输入新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="newPwd1" required lay-verify="newPwd2" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请再次输入新密码</div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="resetPwd">确认修改</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item">
                            上传头像
                        </div>
                    </div>

                </div>
            </div>

            <!--尾部-->
            <%- include("comments/footer") %>

    </body>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element', 'form'], function() {
            var element = layui.element;
            var form = layui.form;
            form.verify({
                "tel": function(value) {
                    //有内容且不通过验证警告，所以允许了设空值
                    if (value && !/^1[3-9]\d{9}$/.test(value)) {
                        return "号码格式不正确!";
                    }
                },

                "email": function(value) {
                    if (value && !/^\w{2,}@[\da-z]{2,}(\.[a-z]{2,6}){1,2}$/i.test(value)) {
                        return "邮箱格式不正确!";
                    }
                }

            });
            //监听信息修改提交
            form.on('submit(resetInfo)', function(data) {
                $.ajax({
                    method: "post",
                    url: "/update",
                    data: data.field,
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    window.location.reload()
                                })
                        }
                    }
                });
                return false;
            });

            //监听修改密码提交
            form.on('submit(resetPwd)', function(data) {
                $.ajax({
                    method: "post",
                    url: "/resetPwd/reset",
                    data: data.field,
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 4) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        } else if (data.code) {
                            layer.msg(
                                data.msg, {
                                    icon: 5,
                                    time: 1500
                                },
                                function() {

                                })

                        } else {
                            layer.msg(
                                data.msg, {
                                    icon: 1,
                                    time: 1500
                                },
                                function() {
                                    window.location.href = '/#reload'
                                })
                        }
                    }
                });
                return false;
            });
        });

        ! function f() {
            var $content1Btn = $("#usercontent .content1 tr td .layui-btn");
            $content1Btn.click(function() {
                var $ele = $(this).parent().prev().children();
                $ele.toggle();
            });
        }();
    </script>

</html>